@use './partials/vars' as *;

// @import 'node_modules/bootstrap/scss/bootstrap';

@import 'node_modules/@fontsource/alegreya-sans-sc/index.css';


body {
  font-family: $main-font;
  background-color: $primary-color;
  color: $secondary-color;
}